.place {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 460px;
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-of-type {
  padding-bottom: 0;
}
