.content__photo-grid {
  max-width: 92.5%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content__photo-grid {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .content__photo-grid {
    max-width: 93.7%;
  }
}

@media screen and (max-width: 320px) {
  .content__photo-grid {
    max-width: 90%;
  }
}
