.lead__title {
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  color: #fff;
  margin: 0 auto 32px;
  padding: 0;
  max-width: 73.1%;
  text-align: center;
}


@media screen and (max-width: 1023px) {
  .lead__title {
      max-width: 93.7%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__title {
    max-width: 90%;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}