.content__intro {
  width: 58.2%;
  margin-top: 0;
  margin-bottom: 92px;
  margin-left: 8.4%;
}

@media screen and (max-width: 1279px) {
  .content__intro {
    width: 74.3%;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .content__intro {
    width: 93.7%;
    margin-left: 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .content__intro {
    width: 90%;
    margin-left: 16px;
    margin-bottom: 64px;
  }
}

