.content__intro {
  width: 76.8%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 92px;
  margin-left: auto;
  outline: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .content__intro {
    width: 90.6%;
  }
}

@media screen and (max-width: 768px) {
  .content__intro {
    width: 93.7%;
    margin-bottom: 88px;
  }
}

