.cover__overlay {
  background: rgba(42, 44, 47, 0.3);
  padding-top: 245px;
  padding-right: 312px;
  padding-bottom: 245px;
  padding-left: 312px;
  transition: .3s
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
  cursor: pointer;
}
