.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  padding: 0;
  width: 560px;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 33.5%;
  left: 26.5%;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    top: 30.5%;
    left: 23%;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    top: 24%;
    left: 13%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    top: 18%;
    left: 4%;
  }
}



