.page__footer {
  max-width: 92.5%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .page__footer {
    width: 90.6%;
    margin-bottom: 24px;
  }
}
